.weather-app {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 1em;
}

.weather-data {
  display: table;
  width: 40%;
  text-align: left;
  box-shadow: 0px 0px 10px 2px #1c2331;
  border-radius: 15px;
  padding: 10px;
}

.weather-app-info {
  display: table-row;
}

.weather-app-info::before {
  content: attr(data-label) ": ";
  font-weight: bold;
  display: table-cell;
}
.weather-data [class^="weather-app-info"]:first-child::before {
  content: "Name";
}

.weather-data .weather-app-info:nth-child(2)::before {
  content: "Temperature";
}

.weather-data .weather-app-info:nth-child(3)::before {
  content: "Wind";
}

.weather-data .weather-app-info:nth-child(4)::before {
  content: "Humidity";
}

.weather-app-title {
  overflow: hidden;
  white-space: nowrap;
  width: 11ch;
  animation: type 2s steps(30, end);
}

.weather-app-form {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.weather-app-input {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
  width: 30em;
  margin-right: 1em;
}

.weather-app-button {
  background-color: #1c2331;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}

.weather-app-error {
  color: red;
  margin-bottom: 1em;
}

.weather-app-info {
  font-size: 1.5em;
}

.weather-app.dark {
  background-color: #333;
  color: #fff;
}

.weather-app.light {
  background-color: #fff;
  color: #333;
}

.dark-mode-toggle {
  position: fixed;
  top: 50px;
  right: 50px;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}

@keyframes type {
  from {
    width: 0;
  }
}
