.WeatherApp {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 1em;
}

.WeatherApp-title {
  color: #1c2331;
  font-size: 2em;
  margin-bottom: 1em;
}

.WeatherApp-form {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.WeatherApp-input {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
  width: 30em;
  margin-right: 1em;
}

.WeatherApp-button {
  background-color: #1c2331;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}

.WeatherApp-error {
  color: red;
  margin-bottom: 1em;
}

.WeatherApp-info {
  color: #1c2331;
  font-size: 1.5em;
}
